/* CSS for the front end view */

.ppfpn-all {
/*	text-align: center; */
}

.ppfpn-give-to-h2 {
	padding-bottom: 10px;
	font-size: 26px;
	padding-left: 40px;
	text-align: left;
}

.ppfpn-give-to-div {
	font-size: 14px;
	padding-left: 40px;
}

.ppfpn-form {
	border: none ! important;
	display: inline-block;
	vertical-align:top;
	padding-left: 40px;
}

.ppfpn-form tbody {
	border: none! important;
}

.ppfpn-form tr td {
	border: none ! important;
	padding-left: 0px ! important;
}

.ppfpn-field {
	border: 1px solid #333;
	background-color:#eee;
	height: 100px ! important;
	padding: 15px;
	font-size: 15px;
	width: 100%;
}

.ppfpn-admin input.wide, input.wide { 
    width: 500px;
}

article.page {
	margin-bottom: 0! important;
	padding: 30px;
	padding-bottom: 0! important;
	background-color: #fff;
}

.ppfpn-content {
	padding-left: 40px;
} 

#ppfpn-page {
	border: none ! important;
	padding-left: 40px;
	padding-bottom: 50px;
	background-color:#fff;
}

#ppfpn-log {
	border: none ! important;
	padding-left: 40px;
	padding-bottom: 50px;
}

.ppfpn-log-form {
	display: flex; 
	align-items: center;
}

.ppfpn-log-num {
	color: #89adac;
}

.ppfpn-log-date-desc {
	font-weight: 700;
}

.ppfpn-log-form p {
	font-size: 15px;
	margin-top: 0;
	padding-right: 14px;
}

.ppfpn-log-form label {
	font-size: 15px;
	padding-right: 10px;
}

.ppfpn-button {
	font-size: 14px ! important;
	background-color: #89adac ! important;
	padding: 7px ! important;
	border-radius: 5px ! important;
	margin-left: 10px ! important;
	width: fit-content ! important;
	color: white ! important;
	font-weight: 600 ! important;
}

.ppfpn-log-form input {
	margin-bottom: 3px;
}

.ppfpn-radio {
	display: contents;
}

.ppfpn-page-hdr {
	text-align: center;
}

.ppfpn-log-delete-form {
	padding-top: 50px;
	display: flex;
	align-items: center;
}

.ppfpn-log-delete-form p {
	font-size: 15px;
	margin-top: 15px;
	padding-right: 14px;
}

.ppfpn-box-style {
 	width: 100%;
 	padding: 0 .75em;
 	box-sizing: border-box;
	white-space: pre-wrap;
	word-break: break-all;
 }

 .ppfpn-box-style pre {
	  white-space: pre-wrap;
		word-break: break-all;
 }

 .ppfpn-p-margin {
 	margin: 0;
 }

@media only screen and (max-width: 600px) {  
	.ppfpn-all {
		text-align: center;
	}

	.ppfpn-form {
	/*	display: inline-table; */
	}

	.ppfpn-give-to-h2 {
		text-align: center;
	}

	.ppfpn-give-to-div {
		text-align: left ! important;
		padding-left: 0;
	}

	.ppfpn-log-form {
		display: grid; 
	}

	.ppfpn-log-delete-form {
		display: grid; 
	}

	.ppfpn-radio {
		display: flex;
	}

	.ppfpn-button {
		margin-left: 0 ! important;
		margin-top: 10px ! important;
	}

	.ppfpn-vis {
	 	display: none;
	}
	
}